@import '~antd/dist/antd.css';
@import './fonts.css';
@import './form.css';
@import './buttons.css';
@import './table.css';


* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

::selection {
  color: #FFFFFF !important;
  background-color: #274B28 !important;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-appearance: none;
  font-family: CircularStd,
    sans-serif;
  overflow-x: hidden;
}

body,
.ant-card,
.ant-modal,
.ant-table {
  font-variant: none !important;
  font-feature-settings: 'kren', "kern" !important;
}

.App {
  min-height: 100%;
  width: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
}

button {
  cursor: pointer !important;
}

span[aria-label="eye-invisible"],
span[aria-label="eye"] {
  color: #ffffff !important;
}

.settings-form-item span[aria-label="eye-invisible"],
.settings-form-item span[aria-label="eye"] {
  color: rgba(1, 1, 1, 0.4) !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
span[aria-label="caret-up"],
span[aria-label="caret-down"] {
  color: #01010140 !important;
  font-size: 14px !important;
}

input[type="password"],
input {
  font-weight: 700 !important;
}
h1,h2,h3,h4,h5,h6,p{
  font-weight: 700;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
h1{
  font-size: 32px;
  line-height: 40px;
}
h2{
  font-size: 24px;
  line-height: 32px;
}
h3{
  font-size: 20px;
  line-height: 25px;
}
h4{
  font-size: 18px;
  line-height: 23px;
}
h5{
  font-size: 16px;
  line-height: 20px;
}
h6{
  font-size: 14px;
  line-height: 18px;
}
p{
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin: 20px 0 28px;
}
.small-p{
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

.green-button, .green-button:hover{
  background: #274B28 !important;
  border-radius: 100px;
  color: #ffffff !important;
  text-align: center;
  padding: 28px 0;
  max-width: 274px;
  width: 100%;
  font-size: 20px !important;
  line-height: 25px !important;
}
/* Preloader */

.loader,
.component-loading {
  display: flex !important;
  height: 100% !important;
  width: 100% !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}
.pulse-loader{
   display: contents !important;
}
.pulse-loader>div{
  background: none;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}


.loader ._loading_overlay_overlay {
  background-color: #ffffff !important;
}
.component-loading ._loading_overlay_overlay {
  background-color: transparent !important;
  width: 100% !important;
}

.loading-text {
  font-weight: 700;
  font-size: 18px;
  color: #151515;
  margin: 0 !important;
  line-height: 114%;
}

/* Main content */

.content {
  margin: 0;
  min-height: 100vh;
  max-width: 85%;
  margin-left: 272px;
  background: #F3F5F3;
}

.content-body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  margin-top: 96px;
  padding: 24px 48px 96px;
}


/* Breadcrumb */

.breadcrumb {
  padding-left: 48px;
  margin: 0;
  position: fixed;
  top: 0;
  width: calc(100% - 272px);
  background-color: #ffffff;
  box-shadow: 0 5px 5px rgb(0 0 0 / 30%);
  height: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

/* Sidebar */
.ant-menu-item-active{
  background-color: #274B28 !important;
}
.menu-item{
  margin-left: 0 !important;
  padding-left: '3em'!important;
  height: '4.5em' !important;
  display: 'flex' !important;
  align-items: 'center' !important;
}
.ant-card-body {
  width: 100% !important;
  display: flex !important;
  padding-bottom: 0px !important;
}

.ant-btn{
  border: none !important;
  box-shadow: none !important;
}

.ant-btn >span{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ant-btn:hover,
.ant-btn:active,
.ant-btn:focus{
  color: #ffffff;
  background-color: #274B28;
  cursor: pointer !important;
  border: none !important;
}

.ant-btn[disabled]:hover{
  cursor: context-menu !important;
}

/* 404 & Support Message */
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #274B28;
  height: 100%;
  min-height: 100vh;
  flex-direction: column;
}
.container_404{
  background-color: white;
  height: 512px;
  width: 100%;
  max-width: 680px;
  min-width: 425px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 40px;
}

/* Sign up & Sign in Forms */
.signing-form{
  height: 100vh;
  width: 100vw;
  background-color: #274B28;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
label{
  color: #151515 !important;
  font-weight: 700 !important;
}

.btn-sm-yellow, .btn-sm-yellow:hover, .btn-sm-yellow:active, .btn-sm-yellow:focus{
  border-radius: 5px;
  background-color: #FED64B !important;
  color: #151515 !important;
  font-weight: 700;
  padding: 6px 16px 3px;
  display: flex;
  height: 2.5rem !important;
  justify-content: center;
  align-items: center;
  width: 120px;
}
.btn-sm-black,
.btn-sm-black:active,
.btn-sm-black:focus,
.btn-sm-black:hover {
  border-radius: 5px;
  background-color: #274B28 !important;
  color: #ffffff !important;
  padding: 6px 16px 3px;
  display: flex;
  height: 2.5rem !important;
  justify-content: center;
  align-items: center;
  width: 120px;
}

.btn-lg-black,
.btn-lg-black:active,
.btn-lg-black:focus,
.btn-lg-black:hover {
  margin-top: 2rem;
  border-radius: 5px;
  color: #ffffff;
  background-color: #274B28;
  border-color: rgb(21, 21, 21);
  width: 100%;
  min-height: 3rem !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.btn-back{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: #274B28;
  color: #FFFFFF;
  margin-top: 2rem;
  font-size: 15px;
  line-height: 18.97px;
  letter-spacing: 2px;
  font-weight: 700;
  border-radius: 10px;
  width: 160px;
  height: 50px;
  cursor: pointer !important;
  border: 2px solid #274B28;
}
.btn-forgot, .btn-forgot:hover{
  margin-top: 2rem;
  border-radius: 5px;
  color: #ffffff;
  background-color: #274B28;
  border-color: #274B28;
  width: 100%;
  min-height: 3rem !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.title{
  color:#274B28;
  font-weight: 900;
  font-size: 32px;
  line-height: 40px;
}
.black-title{
  color: #010101;
  font-weight: 900;
  font-size: 28px;
  line-height: 35.42px;
  text-transform: uppercase;
  margin-top: 1rem;
}
.error-description, .support-description{
  padding: 0;
  margin: 0;
  color: #010101;
  font-weight: normal;
  font-size: 28px;
  line-height: 35.42px;
}
.description{
  color: #010101;
  font-weight: 900;
  font-size: 18px;
  line-height: 25.42px;
}
.logout {
  position: absolute;
  bottom: 24px;
  width: 100%;
  color: rgba(255, 255, 255, 0.65) !important;
  text-decoration: none !important;
  cursor: pointer !important;
  margin: 0.3em 0;
  height: 3.5em;
  display: flex;
  align-items: center;
}

.logout:hover {
 width: 80% !important;
 background-color: rgba(0, 0, 0, 0.24) !important;
 color: rgba(255, 255, 255, 1) !important;
 border-radius: 0px 50px 50px 0px !important;
 text-decoration: none !important;
 cursor: pointer !important;
}

/* Dashboard content */
.dropdown-items{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 12px !important;
  margin: 4px 0 !important;
}

.dropdown-items-active, .dropdown-items:hover {
  background-color: #F1FFF2 !important;
  cursor: pointer !important;
}

/* Card View */
.card-view{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #ffffff;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 0 24px;

}
.large-card-view{
  max-width: 556px;
  min-height: 358px;
  max-height: 390px;
}
.card-view:nth-child(1) {
  margin-right: 44px;
}
.small-card-view{
  max-width: 556px;
}
.patch-card{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background: #ffffff;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  max-width: 100%;
  min-height: 164px;
  max-height: 172px;
  padding: 0 24px 0 0;
  margin-top: 32px;
}
.patch-details{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  max-width: 100%;
  min-height: 488px;
  max-height: 500px;
  padding:  0;
}
.payment-card{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12);
  border-radius: 8px 8px 0 0;
  max-width: 100%;
  min-height: 136px;
  max-height: 144px;
  padding: 0 24px;
  margin-top: 32px;
}

.payment-details{
  background: #F1FFF2;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  padding: 16px 20px;
  width: 100%;
  max-width: 425px;
  display: flex;
  align-items: center;
  height: 100%;
  max-height: 80px;
}
.payment-circle-icon {
  background: rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  padding: 12px;
  height: 48px;
  width: 48px;
}
.payment-light-circle-icon{
  border: 1px solid #274B28;
  border-radius: 50%;
  padding: 12px;
  height: 48px;
  width: 48px;
  cursor: pointer;
}
.overdue{
  background: #F44336;
  color: #ffffff;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 24px;
}
.within-due{
  background: #FFF3E0;
  color: #424242;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}
/* Search bar styles */

span[aria-label="search"] svg {
  height: 24px;
  width: 24px;
  color: #757575 !important;
}
::placeholder{
  color: #274B28 !important;
  font-size: 20px !important;
  line-height: 25px !important;
  opacity: 0.8;
  word-spacing: -4px;
}

@media screen and (max-width: 1440px) {
  .search-field {
    max-width: 549px;
  }
}

@media screen and (max-width: 1199px) {
  .search-field {
    max-width: 100%;
  }
}

.search-field {
  display: flex;
  width: 100%;
  height: 64px;
}

.search-field input {
  background: none !important;
  word-spacing: 0px !important;
  margin-left: 12px;
  font-size: 20px;
  line-height: 25%;
  color: #274B28 !important;
}

/* Share button */
.share-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
  color: blue;
}
.ant-modal-content {
  border-radius: 8px !important;
}
